<li class='list-group-item'>
  <input
    class='form-check-input me-1'
    type='checkbox'
    value=''
    checked={{@item.isDone}}
    id='secondCheckbox'
    {{on 'change' this.onToggleIsDone}}
  />
  <LinkTo @route='task' @model='{{@item.id}}'>{{@item.description}}</LinkTo>
  <button
    type='button'
    class='btn btn-danger'
    {{on 'click' this.onRemoveTask}}
  >Remove</button>
</li>